[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
gunicorn = "*"
email-validator = "*"


[dev-packages]

[requires]
python_version = "3.10"
